body{
  background: linear-gradient(40deg, rgb(43, 153, 165), rgb(207, 207, 207));
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


